.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login {
  display: inline-block;
  margin-top: 2em;
  margin-left: 2em;
}

.body-container {
  width: 100%;
  background-color: white;
  margin: auto;
}

.tree-container {
  width: 62%;
  float: left;
  height: 87vh;
  background-color: white;
  overflow:hidden;
}

.sidebar-container {
  width: 38%;
  float: left;
  height: 87vh;
  background-color: white;
}

.card-container {
  width: 80%;
  height:100%;
  margin-left: 10%;
  margin-right: 10%;
  overflow: auto;
}
