.App {
  text-align: center;
}

.login {
  display: inline-block;
  margin-top: 2em;
  margin-left: 2em;
}

.body-container {
  width: 100%;
  background-color: white;
  margin: auto;
}

.tree-container {
  width: 62%;
  float: left;
  height: 87vh;
  background-color: white;
  overflow:hidden;
}

.sidebar-container {
  width: 38%;
  float: left;
  height: 87vh;
  background-color: white;
}

.card-container {
  width: 80%;
  height:100%;
  margin-left: 10%;
  margin-right: 10%;
  overflow: auto;
}
